@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #636363;
    font-size: 10px;
  }

  .container {
    padding: 20px;
  }

  img {
    display: block;
  }

  header {
    padding-bottom: 35px;
  }

  header img {
    width: 200px;
  }

  header h2 {
    font-size: 4em;
    line-height: 1.3em;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  header p {
    font-size: 2em;
    line-height: 1.8em;
  }

  main {
    display: grid;
    gap: 25px;
    justify-content: center;
  }

  .square {
    display: none;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.5s;
  }

  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

  .square:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 0.3s;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.3' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
    background-size: cover;
  }

  .square:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  .square:hover::before {
    content: '';
    background: none;
  }
  
  main .square:nth-child(-n+4) {
    display: flex;
  }

  main .pink::before {
    background-color: #E98B9B;
  }

  main .blue::before {
    background-color: #66AED9;
  }

  main .green::before {
    background-color: #6BA097;
  }

  main .red::before {
    background-color: #C5758E;
  }

  main .square h3 {
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 100;
    font-size: 2.5em;
  }

  main .square img {
    width: 100%;
    height: auto;
  }

  footer {
    background: #F5F5F5;
    padding: 25px;
    display: flex;
    flex-direction: column;
  }

  .footer-header {
    font-size: 1.6em;
    letter-spacing: 2px;
    padding-bottom: 1.8em;
    padding-top: 1.8em;
  }

  .follow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
  }

  i {
    margin: 15px 25px 15px 8px;
    transform: scale(1.8);
    border: 1px solid #d1d1d1;
    width: 2em;
    height: 2em;
    border-radius: 5px;
    border-radius: 5px;
    transition: color 0.3s;
  }

  i:hover {
    background-color: #d1d1d1;
    color: white;
  }

  i.fab,
  i.fas { 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input,
  textarea {
    width: 100%;
    background: #F5F5F5;
    border: none;
    border-bottom: 1px solid #63636323;
    line-height: 2em;
    padding: 0.8em 0;
  }


  button {
    display: block;
    background: #636363;
    margin: 2em 0;
    width: 100%;
    line-height: 3em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: opacity 0.5s;
  }

  button:hover{
    opacity: 0.5;
  }

  .footer-p {
    color: #6363638f;
    font-size: 1.2em;
  }
 
 @media (min-width: 768px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }

    .footer {
      max-width: 900px;
      display: grid;
      grid-template-columns: 2fr 0.5fr 1fr;
      gap: 10px;
      margin: 0 auto;
    }
    
    form {
      order: 1;
      grid-column: 1;
    }

    .follow {
      order: 2;
      grid-column: 3;
    }

    .footer-p {
      order: 3;
    }

    button {
      width: 100px;
    }
   
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 900px;
      margin: auto;
    }

    main {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
    }
    
    main .square {
      display: flex;
    }

    .block {
      display:flex;
      justify-content: space-between;
    }
    #name, #email {
      width: 45%;
    }
  }
